{% extends "base.html" %}
{% block content %}
<section class="page-hero"> 

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSffdRjhOawH1lvFoDgFDuL1VSnw-kWOzVqWSCnx0aXLGCXTug/viewform?embedded=true" 
width="640" 
height="2269" 
id="gform"
frameborder="0" 
marginheight="0" 
marginwidth="0">Loading…</iframe>


<script>
  var loads = 0;
  document.getElementById('gform').addEventListener('load', function () {
    loads += 1;
    if (loads > 1) {
      window.location.href = 'https://www.gachifoundation.in/fundwright-early-list-thanks/';
    }
  });
</script>
</section>
{% endblock %}